.navbar{
    margin-bottom: 20px;
}
body {
    background-image: url("https://i.gifer.com/Dv9E.gif");
    background-color: #cccccc;
    background-size: cover;
    background-repeat:no-repeat;

   }
h1{
    color: white;
    margin: 0 auto;
}
.forcastTitle{
    text-align: center;
    background-color: white;
    border: 5px solid black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
}   
h4{
    background: white;
    color: black;
    text-align: center;
    border: 5px solid black;
    
        
}


.historyButton{
    background-color: rgb(66, 140, 224);
    color: rgb(255, 255, 255)

}
.searchArea{
    margin-left: 30px;
}
#show{
    background-color: white;
    color: black;
}
.badge{
    background-color: white;
    margin-bottom: 1%;
}

ul{
    border-color: gray;
    border-width: 10px;
    border-style: solid;
    border-radius: 4px;
}

